.letters {
  padding: 25px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.letter {
  background-color: #d3d3d3;
  color: #1c1c1c;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;

  &--deactivated {
    cursor: initial;
    background-color: #d3d3d373;
    color: #adadad;
    filter: brightness(0.5);
    pointer-events: none;
  }
  a {
    text-decoration: none;
    color: inherit;
    font-size: 32px;
    margin-left: 5px;
    margin-right: 5px;
    pointer-events: none;
  }
}
