.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  background-color: tomato;
  color: white;
}

.container {
  display: flex;
}

.used-letters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.game-result {
  font-size: 60px;
  height: 60px;
}
.letters {
  padding: 25px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
